<!DOCTYPE html>
<html>
<head lang="en">
  <title>Webpack ng oc.lazyload demo</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body ng-app="myApp">

<div ng-controller="AppCtrl" layout="column" style="height:500px;" ng-cloak>

  <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon md-font-set="material-icons" ng-click="toggleLeft()">menu</md-icon>
        </md-button>
        <h2>
          <span>Angular + Webpack + Angular-material + angular-moment + oclazyload</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-font-set="material-icons" ng-click="toggleRight()">face</md-icon>
        </md-button>
      </div>
    </md-toolbar>
<section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-theme-indigo">
        <h2 class="md-toolbar-tools">Sidenav Left</h2>
      </md-toolbar>
      <md-content layout-padding ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        <md-subheader class="md-no-sticky">Navigation</md-subheader>


            <md-list-item ui-sref="page1">Page 1</md-list-item>
            <md-list-item ui-sref="page2">Page 2</md-list-item>
            <md-list-item ui-sref="page3">Page 3</md-list-item>
            <md-list-item ui-sref="page4">Page 4</md-list-item>

        <p hide-md show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
        <ui-view></ui-view>
        <p>
        The left sidenav will 'lock open' on a medium ( > =960px wide) device.
        </p>
        <p>
        The right sidenav will focus on a specific child element.
        </p>
        <div>
          <md-button ng-click="toggleLeft()"
            class="md-primary" hide-gt-md>
            Toggle left
          </md-button>
        </div>
        <div>
          <md-button ng-click="toggleRight()"
            ng-hide="isOpenRight()"
            class="md-primary">
            Toggle right
          </md-button>
        </div>
      </div>
      <div flex></div>
    </md-content>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h3 class="md-toolbar-tools">Sidenav Right</h3>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">User Name</label>
            <input type="text" id="testInput"
                   ng-model="data" md-autofocus />
          </md-input-container>
          <md-input-container>
            <label for="testInput2">Password</label>
            <input type="text" id="testInput2"
                   ng-model="data" >
          </md-input-container>
        </form>

        <md-button ng-click="close()" class="md-primary">
          Login
        </md-button>
        <md-button ng-click="close()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>
    </md-sidenav>
  </section>
</div>

</body>
</html>
